@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
}
.header{
    background-color: #3a3a44;
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.header img{
    width: 10vw;
    height: 20vh;
}
.header h1{
    color: azure;
    font-family: 'PT Sans', sans-serif;
    padding: 50px;
}
.greet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw; 
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.playlist{
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-size:30px;
}
#har{
    width: 200px;
    height: 250px;
    font-size: 30px;
    font-family: 'Prompt', sans-serif;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    border-radius: 20px;

}
#Alan{
    width: 200px;
    border-radius: 20px;
    height: 250px;
    font-size: 30px;
    font-family: 'Prompt', sans-serif;
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
}
#cool{
    width: 200px;
    border-radius: 20px;
    height: 250px;
    font-size: 30px;
    font-family: 'Prompt', sans-serif;
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
}
#Hindi{
    border-radius: 20px;
    width: 200px;
    height: 250px;
    font-size: 30px;
    font-family: 'Prompt', sans-serif;
    background-color: #20bf55;
    background-image :linear-gradient(315deg, #20bf55 0%, #01baef 74%);

}
.footer{
    width: 100vw;
    height: 10vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    background-color: rgba(169, 169, 169, 0.76);
}
.s1 , .s2 , .s3 , .s4 , .s5 , .s6 ,.s7 , .s8 , .s9 , .s10 ,.s11 ,.s12,.s13{
    display: flex;
    flex-direction: row;
    width: 60vw;
    left: 100px;
    justify-content: space-around;
}

.s1 img , .s2 img , .s3 img , .s4 img , .s5 img , .s6 img , .s7 img , .s8 img ,.s9 img , .s10 img ,.s11 img,
.s12 img , .s13 img
{
    width: 40px;
    cursor: pointer;
    height: 40px;
    padding-left: 20px;
}
h3{
    font-family: 'Cairo', sans-serif;
}